torch
# transformers
git+https://github.com/huggingface/transformers
accelerate
datasets
evaluate
scikit-learn
urllib3==1.26.6 # https://stackoverflow.com/a/76187415
nltk
sentencepiece != 0.1.92
protobuf
tensorboard
tensorboardX
sacrebleu[ja]
openai
langchain==0.0.86
faiss-cpu
sentence-transformers
fugashi[unidic-lite]
